{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>

<header>
    <div class="logo">Cambiar contraseña</div>
    <nav>
        <a href="{% url 'users:perfil_editar' %}">Volver</a>
        <a href="{% url 'users:logout' %}">Salir</a>
    </nav>
</header>

<div class="perfil-container">
    <form method="post" class="perfil-form">
        {% csrf_token %}

        <p>
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </p>

       <p>
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
</p>

<p>
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
</p>

        <button class="btn">Cambiar contraseña</button>
    </form>
</div>

</body>
</html>
